# Database
DATABASE_URL=sqlite:///./sqlite.db

# JWT Settings
SECRET_KEY=mj3zpakgvrbc)ef4*^9z+u0tcx7dun6v&_nl7kbsua)tnvct7j
ACCESS_TOKEN_EXPIRE_MINUTES=30
EMAIL_TOKEN_EXPIRE_HOURS=24

# Google SMTP Settings (use App Password, not regular password)
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM_NAME=Budget Tracker

# Frontend URL
FRONTEND_URL=http://localhost:3000